#smartphone{
  background: url(../assets/image/bg-hero-smartphone.svg) no-repeat top/cover;
  margin-top: 5.21125rem;
}

#about{
  background-color: var(--surface-color);
  
  & .even-columns{
    gap: 2rem;
  }
}

section{
  & strong{
    display: block;
    font: var(--fw-md) var(--fs-sm)/100% var(--ff-inter);
    color: var(--brand-color-primary);
    letter-spacing: 0.08em;
  }
  & h2{
    margin-top: .5rem;
  }
  & p{
    margin-top: .5rem;
  }
}

@media (width >= 80em){
  #smartphone{
    display: none;
  }
}

@media (width >= 160em){
  #about{
    margin: auto;
    width: 160em;
  }
}
